@import url(http://fonts.googleapis.com/css?family=Lato:300italic);
html,
body {
  width: 100%;
  height: 100%;
}

body {
  background: #6a9eee;
}

#cake {
  display: block;
  position: relative;
  margin: -10em auto 0 auto;
}

/* ============================================== Candle
*/
.velas {
  background: #ffffff;
  border-radius: 10px;
  position: absolute;
  top: 228px;
  left: 50%;
  margin-left: -2.5px;
  margin-top: -8.33333333px;
  width: 5px;
  height: 35px;
  -webkit-transform: translateY(-300px);
  -ms-transform: translateY(-300px);
  transform: translateY(-300px);
  -webkit-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-animation: in 500ms 6s ease-out forwards;
  animation: in 500ms 6s ease-out forwards;
}

.velas:after,
.velas:before {
  background: rgba(255, 0, 0, 0.4);
  content: "";
  position: absolute;
  width: 100%;
  height: 2.22222222px;
}

.velas:after {
  top: 25%;
  left: 0;
}

.velas:before {
  top: 45%;
  left: 0;
}

/* ============================================== Fire
*/
.fuego {
  border-radius: 100%;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -2.2px;
  width: 6.66666667px;
  height: 18px;
}

.fuego:nth-child(1) {
  -webkit-animation: fuego 2s 6.5s infinite;
  animation: fuego 2s 6.5s infinite;
}

.fuego:nth-child(2) {
  -webkit-animation: fuego 1.5s 6.5s infinite;
  animation: fuego 1.5s 6.5s infinite;
}

.fuego:nth-child(3) {
  -webkit-animation: fuego 1s 6.5s infinite;
  animation: fuego 1s 6.5s infinite;
}

.fuego:nth-child(4) {
  -webkit-animation: fuego 0.5s 6.5s infinite;
  animation: fuego 0.5s 6.5s infinite;
}

.fuego:nth-child(5) {
  -webkit-animation: fuego 0.2s 6.5s infinite;
  animation: fuego 0.2s 6.5s infinite;
}

/* ============================================== Animation Fire
*/
@-webkit-keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@keyframes fuego {
  0%, 100% {
    background: rgba(254, 248, 97, 0.5);
    -webkit-box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 10px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(0) scale(1);
    transform: translateY(0) scale(1);
  }

  50% {
    background: rgba(255, 50, 0, 0.1);
    -webkit-box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    box-shadow: 0 0 40px 20px rgba(248, 233, 209, 0.2);
    -webkit-transform: translateY(-20px) scale(0);
    transform: translateY(-20px) scale(0);
  }
}
@-webkit-keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes in {
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.text {
  color: #8b6a60;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align: center;
}
.text h1 {
  font-size: 1.4em;
}

/*========================================*/
.button-style1 ,.button-style2{
  position:absolute;
  top:41%;
  opacity:1;
  z-index:100;
}
.button-style1 {
  position:absolute;
  left:20%;
  animation:btn1 15s; /*这是CSS3的动画属性，着这里定义动画的名称和持续时间，也可以用animation-delay定义动画延时多少s播放*/
}
.button-style2 {
  position:absolute;
  left:68%;
  animation:btn2 15s;
}
@keyframes btn1 { /*这里是对动画的定义，我们只需要定义几个关键帧，它会自动完成补间。*/
  0% {
    opacity:0;
    left:43.5%;
  }
  70% {
    opacity:0;
    left:43.5%;
  }
  100% {
    opacity:1;
    left:20%;
  }
}
@-webkit-keyframes btn1 { /*这里是声明获取不同浏览器的支持，还有几个干脆我就懒得写了，反正我也不是给所有人写的，自己能看就行*/
  0% {
    opacity:0;
    left:43.5%;
  }
  70% {
    opacity:0;
    left:43.5%;
  }
  100% {
    opacity:1;
    left:20%;
  }
}
@keyframes btn2 {
  0% {
    opacity:0;
    left:43.5%;
  }
  70% {
    opacity:0;
    left:43.5%;
  }
  100% {
    opacity:1;
    left:68%;
  }
}
@-webkit-keyframes btn2 {
  0% {
    opacity:0;
    left:43.5%;
  }
  70% {
    opacity:0;
    left:43.5%;
  }
  100% {
    opacity:1;
    left:68%;
  }
}
.lk1,.lk2 {
  text-decoration:none;
  font-family: Microsoft YaHei;
  color:#fff;
  transition:all 0.5s;
}
.link1,.link2 {
  width:170px;
  height:60px;
  border:2px solid #fff;
  -webkit-border:1px solid #fff;
  border-radius:30px;
  font-size: 23px;
  text-align:center;
  background: #6a9eee;
  transition:all 0.8s;
}
.link2 {
  cursor:not-allowed;
}
.bt1,.bt2 {
  position:relative;
  top:22%;
  vertical-align:middle;
}

a.lk1:hover { /*这里使用CSS选择器，定义鼠标滑过效果*/
  color: #6a9eee;
  transition:all 0.5s;
}
.link1:hover {
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
  border:2px solid #BBB;
  transition:all 0.8s;
}
a.lk2:hover {
  color: #6a9eee;
  transition:all 0.5s;
}
.link2:hover {
  background-color:#fff;
  background-color:rgba(255,255,255,0.8);
  border:2px solid #BBB;
  transition:all 0.8s;
}
